$max_device_width: 768px

@import "blocks/_blocks"
@import "holsters"

body
    font-family: "MyriadProRegular", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 16px
    color: #000
    padding: 20px
    background: #fff


@media only screen and (max-width: $max_device_width)
    body
        padding: 0
        overflow-x: hidden
        min-width: 320px
        width: 100%
